USE [master]
GO
/****** Object:  Database [HranitelPRO]    Script Date: 28.03.2023 12:42:37 ******/
CREATE DATABASE [HranitelPRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HranitelPRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HranitelPRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HranitelPRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HranitelPRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HranitelPRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HranitelPRO]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Departme__B2079BCD062F8B60] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [bigint] NULL,
	[EmployeeSurname] [varchar](30) NOT NULL,
	[EmployeeName] [varchar](30) NOT NULL,
	[EmployeePatronymic] [varchar](30) NULL,
	[EmployeeSubdivision] [int] NULL,
	[EmployeeDepartment] [int] NULL,
 CONSTRAINT [PK__Employee__7AD04FF1539B4379] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subdivision]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subdivision](
	[SubdivisionID] [int] IDENTITY(1,1) NOT NULL,
	[SubdivisionName] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Subdivis__72F876DFE8A8DE50] PRIMARY KEY CLUSTERED 
(
	[SubdivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSurname] [varchar](30) NULL,
	[UserName] [varchar](30) NULL,
	[UserPatronymic] [varchar](30) NULL,
	[UserPhone] [varchar](20) NULL,
	[UserEmail] [varchar](30) NULL,
	[UserDateofBirth] [date] NULL,
	[UserPassportSeries] [varchar](4) NULL,
	[UserPassportNumber] [varchar](6) NULL,
	[UserPassportScan] [text] NULL,
	[UserLogin] [varchar](30) NULL,
	[UserPassword] [varchar](30) NULL,
	[UserOrganization] [varchar](100) NULL,
	[UserPhoto] [image] NULL,
	[UserBlackList] [bit] NULL,
	[UserIncorrectDataCount] [int] NULL,
 CONSTRAINT [PK__User__1788CCAC543265E2] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitPurpose]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitPurpose](
	[VisitPurposeID] [int] IDENTITY(1,1) NOT NULL,
	[VisitPurposeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__VisitPur__4CD1E62C1673D1DE] PRIMARY KEY CLUSTERED 
(
	[VisitPurposeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitRejectionPurpose]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitRejectionPurpose](
	[VisitRejectionPurposeID] [int] NOT NULL,
	[VisitRejectionPurposeName] [varchar](max) NOT NULL,
 CONSTRAINT [PK_VisitRejectionPurpose] PRIMARY KEY CLUSTERED 
(
	[VisitRejectionPurposeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitRequest]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitRequest](
	[VisitRequestID] [int] IDENTITY(1,1) NOT NULL,
	[VisitUser] [int] NULL,
	[VisitSubdivision] [int] NULL,
	[VisitEmployee] [int] NULL,
	[VisitDateStart] [date] NULL,
	[VisitDateEnd] [date] NULL,
	[VisitPurpose] [int] NULL,
	[VisitType] [int] NULL,
	[VisitorsList] [text] NULL,
	[VisitNote] [varchar](255) NULL,
	[VisitStatus] [int] NULL,
	[VisitRejectionPurpose] [int] NULL,
 CONSTRAINT [PK__VisitReq__C4446AE3EB44AC70] PRIMARY KEY CLUSTERED 
(
	[VisitRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitStatus]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitStatus](
	[VisitStatusID] [int] NOT NULL,
	[VisitStatusName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_VisitStatus] PRIMARY KEY CLUSTERED 
(
	[VisitStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitTimeSpans]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitTimeSpans](
	[VisitID] [int] NOT NULL,
	[VisitDateTime] [datetime] NULL,
	[CheckPointIncome] [datetime] NULL,
	[CheckpointOutcome] [datetime] NULL,
	[SubdivisionIncome] [datetime] NULL,
	[SubdivisionOutcome] [datetime] NULL,
 CONSTRAINT [PK_VisitTimeSpans] PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitType]    Script Date: 28.03.2023 12:42:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitType](
	[VisitTypeID] [int] IDENTITY(1,1) NOT NULL,
	[VisitTypeName] [varchar](10) NOT NULL,
 CONSTRAINT [PK__VisitTyp__9BF3CC725001884A] PRIMARY KEY CLUSTERED 
(
	[VisitTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName]) VALUES (1, N'Общий отдел')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName]) VALUES (2, N'Охрана')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [EmployeeSurname], [EmployeeName], [EmployeePatronymic], [EmployeeSubdivision], [EmployeeDepartment]) VALUES (1, 9367788, N'Фомичева', N'Авдотья', N'Трофимовна', 1, NULL)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [EmployeeSurname], [EmployeeName], [EmployeePatronymic], [EmployeeSubdivision], [EmployeeDepartment]) VALUES (2, 9788737, N'Гаврилова', N'Римма', N'Ефимовна', 2, NULL)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [EmployeeSurname], [EmployeeName], [EmployeePatronymic], [EmployeeSubdivision], [EmployeeDepartment]) VALUES (3, 9736379, N'Носкова', N'Наталия', N'Прохоровна', 3, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Subdivision] ON 

INSERT [dbo].[Subdivision] ([SubdivisionID], [SubdivisionName]) VALUES (1, N'Производство')
INSERT [dbo].[Subdivision] ([SubdivisionID], [SubdivisionName]) VALUES (2, N'Сбыт')
INSERT [dbo].[Subdivision] ([SubdivisionID], [SubdivisionName]) VALUES (3, N'Администрация')
SET IDENTITY_INSERT [dbo].[Subdivision] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserPhone], [UserEmail], [UserDateofBirth], [UserPassportSeries], [UserPassportNumber], [UserPassportScan], [UserLogin], [UserPassword], [UserOrganization], [UserPhoto], [UserBlackList], [UserIncorrectDataCount]) VALUES (1, N'Степанова', N'Радинка', N'Власовна', N'+7 (613) 272-60-62', N'Radinka100@yandex.ru', CAST(N'1986-10-18' AS Date), N'0208', N'530509', N'', N'Vlas86', N'b3uWS6#Thuvq', N'', NULL, 0, 0)
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserPhone], [UserEmail], [UserDateofBirth], [UserPassportSeries], [UserPassportNumber], [UserPassportScan], [UserLogin], [UserPassword], [UserOrganization], [UserPhoto], [UserBlackList], [UserIncorrectDataCount]) VALUES (4, N'Кононов', N'Юрин', N'Романович', N'+7 (784) 673-51-91', N'YUrin155@gmail.com', CAST(N'1971-10-08' AS Date), N'2747', N'790512', N'', N'YUrin155', N'u@m*~ACBCqNQ', N'', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitPurpose] ON 

INSERT [dbo].[VisitPurpose] ([VisitPurposeID], [VisitPurposeName]) VALUES (1, N'Экскурсия')
INSERT [dbo].[VisitPurpose] ([VisitPurposeID], [VisitPurposeName]) VALUES (2, N'Встреча с руководством')
SET IDENTITY_INSERT [dbo].[VisitPurpose] OFF
GO
INSERT [dbo].[VisitRejectionPurpose] ([VisitRejectionPurposeID], [VisitRejectionPurposeName]) VALUES (1, N'Заявка на посещение объекта КИИ отклонена в связи с нарушением Федерального закона от 26.07.2017 № 187-ФЗ «О безопасности критической информационной инфраструктуры Российской Федерации»')
INSERT [dbo].[VisitRejectionPurpose] ([VisitRejectionPurposeID], [VisitRejectionPurposeName]) VALUES (2, N'Заявка на посещение объекта КИИ отклонена в связи с нарушением Федерального закона от 26.07.2017 № 194-ФЗ «О внесении изменений в Уголовный кодекс Российской Федерации и статью 151 Уголовно-процессуального кодекса Российской Федерации в связи с принятием Федерального закона "О безопасности критической информационной инфраструктуры Российской Федерации" по причине указания заявителем заведомо недостоверных данных')
GO
SET IDENTITY_INSERT [dbo].[VisitRequest] ON 

INSERT [dbo].[VisitRequest] ([VisitRequestID], [VisitUser], [VisitSubdivision], [VisitEmployee], [VisitDateStart], [VisitDateEnd], [VisitPurpose], [VisitType], [VisitorsList], [VisitNote], [VisitStatus], [VisitRejectionPurpose]) VALUES (4, 1, 1, 1, CAST(N'2023-04-24' AS Date), CAST(N'2023-04-24' AS Date), 1, 1, N'', N'', 1, NULL)
INSERT [dbo].[VisitRequest] ([VisitRequestID], [VisitUser], [VisitSubdivision], [VisitEmployee], [VisitDateStart], [VisitDateEnd], [VisitPurpose], [VisitType], [VisitorsList], [VisitNote], [VisitStatus], [VisitRejectionPurpose]) VALUES (5, 3, 2, 2, CAST(N'2023-04-24' AS Date), CAST(N'2023-04-24' AS Date), 1, 1, N'', N'', 2, 1)
INSERT [dbo].[VisitRequest] ([VisitRequestID], [VisitUser], [VisitSubdivision], [VisitEmployee], [VisitDateStart], [VisitDateEnd], [VisitPurpose], [VisitType], [VisitorsList], [VisitNote], [VisitStatus], [VisitRejectionPurpose]) VALUES (6, 4, 3, 3, CAST(N'2023-04-24' AS Date), CAST(N'2023-04-24' AS Date), 2, 1, N'', N'', 1, NULL)
SET IDENTITY_INSERT [dbo].[VisitRequest] OFF
GO
INSERT [dbo].[VisitStatus] ([VisitStatusID], [VisitStatusName]) VALUES (1, N'Одобрено')
INSERT [dbo].[VisitStatus] ([VisitStatusID], [VisitStatusName]) VALUES (2, N'Отказано')
INSERT [dbo].[VisitStatus] ([VisitStatusID], [VisitStatusName]) VALUES (3, N'На рассмотрении')
GO
INSERT [dbo].[VisitTimeSpans] ([VisitID], [VisitDateTime], [CheckPointIncome], [CheckpointOutcome], [SubdivisionIncome], [SubdivisionOutcome]) VALUES (4, CAST(N'2023-03-27T12:00:00.000' AS DateTime), CAST(N'2023-03-27T13:00:00.000' AS DateTime), CAST(N'2023-03-27T16:00:00.000' AS DateTime), CAST(N'2023-03-27T13:10:00.000' AS DateTime), CAST(N'2023-03-27T15:00:00.000' AS DateTime))
INSERT [dbo].[VisitTimeSpans] ([VisitID], [VisitDateTime], [CheckPointIncome], [CheckpointOutcome], [SubdivisionIncome], [SubdivisionOutcome]) VALUES (6, CAST(N'2023-03-30T09:00:00.000' AS DateTime), CAST(N'2023-03-30T09:30:00.000' AS DateTime), NULL, CAST(N'2023-03-28T11:34:20.137' AS DateTime), CAST(N'2023-03-31T12:00:00.000' AS DateTime))
INSERT [dbo].[VisitTimeSpans] ([VisitID], [VisitDateTime], [CheckPointIncome], [CheckpointOutcome], [SubdivisionIncome], [SubdivisionOutcome]) VALUES (7, CAST(N'2023-03-31T20:00:00.000' AS DateTime), CAST(N'2023-03-28T04:33:45.870' AS DateTime), CAST(N'2023-03-28T08:00:00.000' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[VisitType] ON 

INSERT [dbo].[VisitType] ([VisitTypeID], [VisitTypeName]) VALUES (1, N'Личное')
INSERT [dbo].[VisitType] ([VisitTypeID], [VisitTypeName]) VALUES (2, N'Групповое')
SET IDENTITY_INSERT [dbo].[VisitType] OFF
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserBlackList]  DEFAULT ((0)) FOR [UserBlackList]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserIncorrectDataCount]  DEFAULT ((0)) FOR [UserIncorrectDataCount]
GO
ALTER TABLE [dbo].[VisitRequest] ADD  CONSTRAINT [DF_VisitRequest_VisitRejectionPurpose]  DEFAULT (NULL) FOR [VisitRejectionPurpose]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__Employ__3B75D760] FOREIGN KEY([EmployeeSubdivision])
REFERENCES [dbo].[Subdivision] ([SubdivisionID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__Employ__3B75D760]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__Employ__3C69FB99] FOREIGN KEY([EmployeeDepartment])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__Employ__3C69FB99]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK__VisitRequ__Visit__44FF419A] FOREIGN KEY([VisitUser])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK__VisitRequ__Visit__44FF419A]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK__VisitRequ__Visit__45F365D3] FOREIGN KEY([VisitSubdivision])
REFERENCES [dbo].[Subdivision] ([SubdivisionID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK__VisitRequ__Visit__45F365D3]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK__VisitRequ__Visit__46E78A0C] FOREIGN KEY([VisitEmployee])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK__VisitRequ__Visit__46E78A0C]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequest_VisitPurpose] FOREIGN KEY([VisitPurpose])
REFERENCES [dbo].[VisitPurpose] ([VisitPurposeID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK_VisitRequest_VisitPurpose]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequest_VisitRejectionPurpose] FOREIGN KEY([VisitRejectionPurpose])
REFERENCES [dbo].[VisitRejectionPurpose] ([VisitRejectionPurposeID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK_VisitRequest_VisitRejectionPurpose]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequest_VisitStatus] FOREIGN KEY([VisitStatus])
REFERENCES [dbo].[VisitStatus] ([VisitStatusID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK_VisitRequest_VisitStatus]
GO
ALTER TABLE [dbo].[VisitRequest]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequest_VisitType] FOREIGN KEY([VisitType])
REFERENCES [dbo].[VisitType] ([VisitTypeID])
GO
ALTER TABLE [dbo].[VisitRequest] CHECK CONSTRAINT [FK_VisitRequest_VisitType]
GO
ALTER TABLE [dbo].[VisitTimeSpans]  WITH CHECK ADD  CONSTRAINT [FK_VisitTimeSpans_VisitRequest] FOREIGN KEY([VisitID])
REFERENCES [dbo].[VisitRequest] ([VisitRequestID])
GO
ALTER TABLE [dbo].[VisitTimeSpans] CHECK CONSTRAINT [FK_VisitTimeSpans_VisitRequest]
GO
/****** Object:  Trigger [dbo].[AddToBlackListTrig]    Script Date: 28.03.2023 12:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AddToBlackListTrig]
ON [dbo].[User]
AFTER UPDATE
AS
UPDATE [User]
SET UserBlackList = 1
WHERE UserIncorrectDataCount = 2
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [AddToBlackListTrig]
GO
USE [master]
GO
